
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background-color: #f1f1f1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {background-color: #f1f1f1;}
  to { background-image: linear-gradient(to right, rgba(255,0,0,0),pink);}
}

img:hover {
  transform: scaleX(-1);
}




.header { 
  padding: 30px;
  margin-left:200px;
  margin-right:400px;
  font-family: serif;
  font-size: 40px;
  
  color:black;
  align-items:center;

  text-shadow:3px 2px red;
  height:500px;
 
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;

}



/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
 
}

/* Fake image */
.fakeimg1 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(21.jpeg);
  background-size: unset;
  border-radius: 2px;
}
.fakeimg2 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(radhakrishna.jpeg);
  background-size: unset;
  border-radius: 2px;
}
.fakeimg3 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(rajeev.jpeg);
  background-size: cover;
  border-radius: 2px;
}
.fakeimg6 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(me.jpeg);
  background-size: unset;
  border-radius: 2px;
}
.fakeimg4 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(cautley.jpeg);
  background-size: unset;
  border-radius: 2px;
}
.fakeimg5 {
  background-color:aqua;
  font-size:50px;
  width: 100%;
  font-family:sans-serif;
  padding: 20px;
  background-image: url(jawahar.jpeg);
  background-size: cover;
  border-radius: 2px;
}
.fakeimg7 {
  background-color:aqua;
 
  width: 100%;
 
  padding: 20px;
  background-image: url(flowers.jpeg);
  background-size: unset;
  border-radius: 2px;
  
  font-family: serif;
  font-size: 60px;
  text-align: center;
  color:darkgreen;
 
  text-shadow:3px 2px red;
}


/* Add a card effect for articles */
.card {
   background-color:ivory;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
 
}

.slidesshow{display:none;}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.open-butto {
  background-color: grey;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
